* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'times new roman';
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #992828;
    position: relative;
}

header {
    top: 0;
    position: fixed;
    background-color: #1e2528;
    width: 100%;
    height: 70px;
    padding: 5px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    cursor: pointer;
}

header .logo img {
    height: 60px;
    width: auto;
    transition: all 0.3s;
    border-radius: 50px;
}

header .logo img:hover {
    transform: scale(1.2);
}

header .links {
    font-weight: bold;
    list-style: none;
}

header .links li {
    display: inline-block;
    padding: 0 30px;
}

header .links li:hover {
    transform: scale(1.2);
}

header .links a {
    font-size: 40px;
    color: #fdfdfd;
    text-decoration: none;
}

header .links li a:hover {
    color: #ffbc0e;
}

.contenedor-tarjeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

#contenedorsection,
#contenido {
    width: 45%;
    background-color:#f4f4f4;
    border-radius: 10px;
    padding: 20px;
    font-size:20px ;
}

#contenedorsection img,
#contenido #info {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#contenido {
    background-color: rgb(207, 141, 71);
}

#contenido #info {
    padding: 50px;
}

h1{
font-size:60px;
}

.img-colores img{
    height:auto ;
    width:70px ;
    border-radius:10px ;
}

.pie-pagina {
    width: 100%;
    background-color: #1e2528;
    color: #fdfdfd;
    padding: 20px;
    margin-top: auto;
    text-align: center;
}
