
#carrito {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#lista-carrito li {
    margin-bottom: 10px;
}

#total-carrito {
    font-weight: bold;
}

/* Estilos para el botón "Agregar al carrito" */
.agregar-carrito {
    background-color: #28a745; /* Color de fondo verde (puedes cambiarlo) */
    color: #ffffff; /* Color del texto blanco */
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.agregar-carrito:hover {
    background-color: #218838; /* Cambia el color al pasar el mouse (puedes cambiarlo) */
}
