
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    
}

body{

    background-color: #720606;
    position: relative;
}

header{
    top: 0;
    position: auto;
    background-color: #430c0c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
}

header .logo{
    cursor: pointer;
}

header .logo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
    border-radius: 50px;
}

header .logo img:hover{
    transform: scale(1.2);
}

header .links{
    font-weight: bold;
    display: flex;
    margin-right: 380px;
}


header .links{
    list-style: none;
}

header .links li{
    display: inline-block;
    padding: 0 30px;
}

header .links li:hover{
    transform: scale(1.2);
}

header .links a{
    font-size: 40px;
    color: #fdfdfd;
    text-decoration: none;    
}

header .links li a:hover{
    color: #ffbc0e;
}

.carousel-item img{

    height: 300px;
    width: 200px;
    padding: auto;
   

}

    


#contenedorC{ 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contenedorC .doscartas{
    display: flex;
}

.carta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-position: center center;
    background-size: cover;
    height: 450px;
    width: 400px;
    border-radius: 30px;
}

#c1{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/massvendido.jpg");   
}

#c2{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/ropadeverano.jpg");   
}


h1{
    
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
}

h2{
    color: #fdfdfd;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.carta:hover{
    transform: scale(1.1);
}

h2:hover{
    color: #ffbc0e;
}


* {
	box-sizing: border-box;
}

.columna {
	float: left;
	width: 33%;
	padding-right: 5px;
    align-items: center;
    justify-content: center;
}

.fila::after {
	content: "";
	clear: both;
	display: table;
}

.fila .columna img {
	width: 300px;
    height: 400px;
    border-radius: 20px;
}

img {
	width: 65%;
    margin-top: 10%;
}


.pie-pagina{
    width: 100%;
    background-color:#430c0c;
    position: absolute;
    bottom: 0;
}
.pie-pagina .grupo{
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.pie-pagina p{
    color: #cfcfcf;
    font-size: 15px;
}