

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

body{
    background-color: #720606;
    position: center
}

header{
    top: 0;
    position: center;
    background-color: #1e2528;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 5px 70px;
}

header .logo{
    cursor: pointer;
}

header .logo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
    border-radius: 50px;
}

header .logo img:hover{
    transform: scale(1.2);
}

header .links{
    font-weight: bold;
    display: flex;
    margin-right: 380px;
}


header .links{
    list-style: none;
}

header .links li{
    display: inline-block;
    padding: 0 40px;
}

header .links li:hover{
    transform: scale(1.2);
}

header .links a{
    font-size: 40px;
    color: #fdfdfd;
    text-decoration: none;    
}

header .links li a:hover{
    color: #ffbc0e;
}




#contenedorsection{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedorsection .cartasimg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img{
    height: 300px;
    width: auto;
    
}

.carta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #fff;
    width: 400px;
    height: auto;
    padding: 15px;
    border-radius: 20px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: #4e4848;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: #4e4848;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}




.pie-pagina{
    width: 100%;
    background-color: #1e2528;
    position: relative;
    bottom: 0;
}
.pie-pagina .grupo{
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.pie-pagina p{
    color: #fdfdfd;
    font-size: 15px;
}